<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 关闭延迟加载（懒加载机制） -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<!-- 实体类设置别名 -->
		<package name="org.sl.pojo"/>
	</typeAliases>
</configuration>